In [1]:
import os
import pandas as pd

In [66]:
data=pd.DataFrame()

for file in os.listdir(path='file/'):
    temp=pd.read_csv(f"file/{file}")
    data=pd.concat([data,temp],ignore_index=True)

C:\Users\mansari\Miniconda3\envs\firstEnv\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7,8,10,11,12,13,14,17,21,23,24,25,26,27,32,33,34,35,36,37,38,39,40,41,42,43,44,46,47,53,54,55,59,60,61,63,64,67,71,72,75,76,78,83,84,87,90,91,92,93,94,95,96,97,100,101,102,103,105,109,111,114,115,116,117,118,119,124,125,126,127,137,138,139,141,142,144,145,146,147,150,156,158,159,160,161,162,163) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\mansari\Miniconda3\envs\firstEnv\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7,8,10,11,12,13,14,17,21,23,24,25,26,27,28,29,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,51,52,53,57,59,60,61,65,66,67,69,70,73,75,77,78,81,82,84,85,90,91,94,95,97,98,99,100,101,102,103,104,107,108,109,110,113,116,117,119,121,122,123,124,125,126,131,132,133,134,140,144,145,146,148,149,150,151,152,153,154,157,163,164,165,166,167,168,169,170) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\mansari\Miniconda3\envs\firstEnv\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7,8,10,11,14,18,20,21,22,27,28,29,30,31,32,35,37,38,39,40,41,42,43,45,46,47,51,53,54,55,59,60,61,63,64,67,69,71,72,75,76,78,83,84,87,88,90,91,92,93,94,95,96,99,100,101,102,105,108,109,111,113,114,115,116,117,118,119,124,125,126,127,137,138,139,142,143,144,145,148,152,154,155,156,157,158,159) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\mansari\Miniconda3\envs\firstEnv\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7,8,10,13,17,19,20,25,26,27,28,29,30,31,32,33,34,35,42,43,44,47,48,49,51,52,55,59,60,63,64,67,71,74,77,78,79,80,81,82,85,86,87,88,93,95,99,100,101,102,103,108,109,110,115,120,121,122,123,126,129,133,135,136,137,138,139) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\mansari\Miniconda3\envs\firstEnv\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7,8,9,10,13,17,19,20,21,22,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,49,50,52,53,54,57,58,59,61,62,65,69,70,73,74,75,76,77,79,81,82,85,88,89,90,91,92,93,96,97,98,99,103,105,106,108,109,110,111,112,113,114,118,119,121,122,123,124,134,135,138,139,142,146,148,149,150,151,152) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\mansari\Miniconda3\envs\firstEnv\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7,8,9,10,13,17,19,20,21,22,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,43,46,47,49,50,51,54,55,56,58,59,62,64,66,67,70,71,72,73,74,76,78,81,82,84,85,86,87,88,89,93,94,95,98,100,101,102,103,104,105,106,107,108,110,111,113,114,115,125,126,129,130,133,137,139,140,141,142,143) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [67]:
data

,startTimestamp,startDateTime,endTimestamp,endDateTime,EventName,benchMode,errorType,"""currentState""","""reason""",Action,...,com.tomtom.navui.setting.feature.configure.weather_unit,com.tomtom.navui.setting.SpeedOverride,startTimestampTrim,dialogSessionID,dialogSubSessionID,listeningWindowStatus,Prompt,s2rEntryFailNoACK,s2rEntryFailNoACKDelta,sessionStatus
0,1612176314401,2021-02-01 T05:45:14.401 GMT-05:00,1.612177e+12,2021-02-01 T05:54:48.515 GMT-05:00,Distance Travelled Zones > 70-80,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1612209037210,2021-02-01 T14:50:37.210 GMT-05:00,1.612210e+12,2021-02-01 T14:59:09.922 GMT-05:00,Distance Travelled Zones > 60-70,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1612221181917,2021-02-01 T18:13:01.917 GMT-05:00,1.612221e+12,2021-02-01 T18:16:06.739 GMT-05:00,Distance Travelled Zones > 60-70,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1612221665845,2021-02-01 T18:21:05.845 GMT-05:00,1.612222e+12,2021-02-01 T18:24:22.822 GMT-05:00,Distance Travelled Zones > 60-70,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1612208066302,2021-02-01 T14:34:26.302 GMT-05:00,1.612209e+12,2021-02-01 T14:50:37.210 GMT-05:00,Distance Travelled Zones > 50-60,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43517,1619538374340,2021-04-27 T11:46:14.340 GMT-04:00,NaN,NaN,Errors > Sessions,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43518,1619538920468,2021-04-27 T11:55:20.468 GMT-04:00,NaN,NaN,Errors > Sessions,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43519,1619542077825,2021-04-27 T12:47:57.825 GMT-04:00,NaN,NaN,Errors > Sessions,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43520,1619542231169,2021-04-27 T12:50:31.169 GMT-04:00,NaN,NaN,Errors > Sessions,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43521,1619538480622,2021-04-27 T11:48:00.622 GMT-04:00,NaN,NaN,Errors > Process Died,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
data.columns

Index(['startTimestamp', 'startDateTime', 'endTimestamp', 'endDateTime',
       'EventName', 'benchMode', 'errorType', '"currentState"', '"reason"',
       'Action',
       ...
       'com.tomtom.navui.setting.feature.configure.weather_unit',
       'com.tomtom.navui.setting.SpeedOverride', 'startTimestampTrim',
       'dialogSessionID', 'dialogSubSessionID', 'listeningWindowStatus',
       'Prompt', 's2rEntryFailNoACK', 's2rEntryFailNoACKDelta',
       'sessionStatus'],
      dtype='object', length=207)

In [19]:
# sorting wrt single column (startTimestamp)

In [69]:
sorted_data=data.sort_values(by='startTimestamp', ascending='True')

In [70]:
sorted_data

,startTimestamp,startDateTime,endTimestamp,endDateTime,EventName,benchMode,errorType,"""currentState""","""reason""",Action,...,com.tomtom.navui.setting.feature.configure.weather_unit,com.tomtom.navui.setting.SpeedOverride,startTimestampTrim,dialogSessionID,dialogSubSessionID,listeningWindowStatus,Prompt,s2rEntryFailNoACK,s2rEntryFailNoACKDelta,sessionStatus
3199,1612162807251,2021-02-01 T02:00:07.251 GMT-05:00,NaN,NaN,Raw Events > RPM,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4373,1612162807251,2021-02-01 T02:00:07.251 GMT-05:00,NaN,NaN,Continuous Events > RPM,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1308,1612162807256,2021-02-01 T02:00:07.256 GMT-05:00,NaN,NaN,Raw Events > NavigationFailure,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1337,1612162807418,2021-02-01 T02:00:07.418 GMT-05:00,NaN,NaN,Raw Events > InternetDisconnected,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,1612162807455,2021-02-01 T02:00:07.455 GMT-05:00,NaN,NaN,Raw Events > InternetConnected,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43395,1619542241387,2021-04-27 T12:50:41.387 GMT-04:00,NaN,NaN,Raw Events > AppsAlarm,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43396,1619542241410,2021-04-27 T12:50:41.410 GMT-04:00,NaN,NaN,Raw Events > AppsAlarm,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43397,1619542241437,2021-04-27 T12:50:41.437 GMT-04:00,NaN,NaN,Raw Events > AppsAlarm,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43398,1619542241461,2021-04-27 T12:50:41.461 GMT-04:00,NaN,NaN,Raw Events > AppsAlarm,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43399,1619542241485,2021-04-27 T12:50:41.485 GMT-04:00,NaN,NaN,Raw Events > AppsAlarm,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Sorting wrt to startDateTime(non integer value)

In [62]:
df=data

In [71]:
df = pd.DataFrame(data, columns=["startDateTime"])

In [72]:
df

                            startDateTime
0      2021-02-01 T05:45:14.401 GMT-05:00
1      2021-02-01 T14:50:37.210 GMT-05:00
2      2021-02-01 T18:13:01.917 GMT-05:00
3      2021-02-01 T18:21:05.845 GMT-05:00
4      2021-02-01 T14:34:26.302 GMT-05:00
...                                   ...
43517  2021-04-27 T11:46:14.340 GMT-04:00
43518  2021-04-27 T11:55:20.468 GMT-04:00
43519  2021-04-27 T12:47:57.825 GMT-04:00
43520  2021-04-27 T12:50:31.169 GMT-04:00
43521  2021-04-27 T11:48:00.622 GMT-04:00

[43522 rows x 1 columns]

In [ ]:
df=pd.2_datetime

In [74]:
df["dateTIME"]=pd.to_datetime(df['startDateTime'])

In [75]:
df

                            startDateTime                          dateTIME
0      2021-02-01 T05:45:14.401 GMT-05:00  2021-02-01 05:45:14.401000+05:00
1      2021-02-01 T14:50:37.210 GMT-05:00  2021-02-01 14:50:37.210000+05:00
2      2021-02-01 T18:13:01.917 GMT-05:00  2021-02-01 18:13:01.917000+05:00
3      2021-02-01 T18:21:05.845 GMT-05:00  2021-02-01 18:21:05.845000+05:00
4      2021-02-01 T14:34:26.302 GMT-05:00  2021-02-01 14:34:26.302000+05:00
...                                   ...                               ...
43517  2021-04-27 T11:46:14.340 GMT-04:00  2021-04-27 11:46:14.340000+04:00
43518  2021-04-27 T11:55:20.468 GMT-04:00  2021-04-27 11:55:20.468000+04:00
43519  2021-04-27 T12:47:57.825 GMT-04:00  2021-04-27 12:47:57.825000+04:00
43520  2021-04-27 T12:50:31.169 GMT-04:00  2021-04-27 12:50:31.169000+04:00
43521  2021-04-27 T11:48:00.622 GMT-04:00  2021-04-27 11:48:00.622000+04:00

[43522 rows x 2 columns]

In [76]:
df["dateTIME"]

0        2021-02-01 05:45:14.401000+05:00
1        2021-02-01 14:50:37.210000+05:00
2        2021-02-01 18:13:01.917000+05:00
3        2021-02-01 18:21:05.845000+05:00
4        2021-02-01 14:34:26.302000+05:00
                       ...
43517    2021-04-27 11:46:14.340000+04:00
43518    2021-04-27 11:55:20.468000+04:00
43519    2021-04-27 12:47:57.825000+04:00
43520    2021-04-27 12:50:31.169000+04:00
43521    2021-04-27 11:48:00.622000+04:00
Name: dateTIME, Length: 43522, dtype: object

In [82]:
df['date']=df['dateTIME'].apply(lambda x: x.day)

In [83]:
df

,startDateTime,dateTIME,date
0,2021-02-01 T05:45:14.401 GMT-05:00,2021-02-01 05:45:14.401000+05:00,1
1,2021-02-01 T14:50:37.210 GMT-05:00,2021-02-01 14:50:37.210000+05:00,1
2,2021-02-01 T18:13:01.917 GMT-05:00,2021-02-01 18:13:01.917000+05:00,1
3,2021-02-01 T18:21:05.845 GMT-05:00,2021-02-01 18:21:05.845000+05:00,1
4,2021-02-01 T14:34:26.302 GMT-05:00,2021-02-01 14:34:26.302000+05:00,1
...,...,...,...
43517,2021-04-27 T11:46:14.340 GMT-04:00,2021-04-27 11:46:14.340000+04:00,27
43518,2021-04-27 T11:55:20.468 GMT-04:00,2021-04-27 11:55:20.468000+04:00,27
43519,2021-04-27 T12:47:57.825 GMT-04:00,2021-04-27 12:47:57.825000+04:00,27
43520,2021-04-27 T12:50:31.169 GMT-04:00,2021-04-27 12:50:31.169000+04:00,27
43521,2021-04-27 T11:48:00.622 GMT-04:00,2021-04-27 11:48:00.622000+04:00,27

In [84]:
df['date']=df['dateTIME'].apply(lambda x: x.month)

In [85]:
df

,startDateTime,dateTIME,date
0,2021-02-01 T05:45:14.401 GMT-05:00,2021-02-01 05:45:14.401000+05:00,2
1,2021-02-01 T14:50:37.210 GMT-05:00,2021-02-01 14:50:37.210000+05:00,2
2,2021-02-01 T18:13:01.917 GMT-05:00,2021-02-01 18:13:01.917000+05:00,2
3,2021-02-01 T18:21:05.845 GMT-05:00,2021-02-01 18:21:05.845000+05:00,2
4,2021-02-01 T14:34:26.302 GMT-05:00,2021-02-01 14:34:26.302000+05:00,2
...,...,...,...
43517,2021-04-27 T11:46:14.340 GMT-04:00,2021-04-27 11:46:14.340000+04:00,4
43518,2021-04-27 T11:55:20.468 GMT-04:00,2021-04-27 11:55:20.468000+04:00,4
43519,2021-04-27 T12:47:57.825 GMT-04:00,2021-04-27 12:47:57.825000+04:00,4
43520,2021-04-27 T12:50:31.169 GMT-04:00,2021-04-27 12:50:31.169000+04:00,4
43521,2021-04-27 T11:48:00.622 GMT-04:00,2021-04-27 11:48:00.622000+04:00,4

In [86]:
df['date']=df['dateTIME'].apply(lambda x: x.year)

In [87]:
df

,startDateTime,dateTIME,date
0,2021-02-01 T05:45:14.401 GMT-05:00,2021-02-01 05:45:14.401000+05:00,2021
1,2021-02-01 T14:50:37.210 GMT-05:00,2021-02-01 14:50:37.210000+05:00,2021
2,2021-02-01 T18:13:01.917 GMT-05:00,2021-02-01 18:13:01.917000+05:00,2021
3,2021-02-01 T18:21:05.845 GMT-05:00,2021-02-01 18:21:05.845000+05:00,2021
4,2021-02-01 T14:34:26.302 GMT-05:00,2021-02-01 14:34:26.302000+05:00,2021
...,...,...,...
43517,2021-04-27 T11:46:14.340 GMT-04:00,2021-04-27 11:46:14.340000+04:00,2021
43518,2021-04-27 T11:55:20.468 GMT-04:00,2021-04-27 11:55:20.468000+04:00,2021
43519,2021-04-27 T12:47:57.825 GMT-04:00,2021-04-27 12:47:57.825000+04:00,2021
43520,2021-04-27 T12:50:31.169 GMT-04:00,2021-04-27 12:50:31.169000+04:00,2021
43521,2021-04-27 T11:48:00.622 GMT-04:00,2021-04-27 11:48:00.622000+04:00,2021

In [88]:
df

,startDateTime,dateTIME,date
0,2021-02-01 T05:45:14.401 GMT-05:00,2021-02-01 05:45:14.401000+05:00,2021
1,2021-02-01 T14:50:37.210 GMT-05:00,2021-02-01 14:50:37.210000+05:00,2021
2,2021-02-01 T18:13:01.917 GMT-05:00,2021-02-01 18:13:01.917000+05:00,2021
3,2021-02-01 T18:21:05.845 GMT-05:00,2021-02-01 18:21:05.845000+05:00,2021
4,2021-02-01 T14:34:26.302 GMT-05:00,2021-02-01 14:34:26.302000+05:00,2021
...,...,...,...
43517,2021-04-27 T11:46:14.340 GMT-04:00,2021-04-27 11:46:14.340000+04:00,2021
43518,2021-04-27 T11:55:20.468 GMT-04:00,2021-04-27 11:55:20.468000+04:00,2021
43519,2021-04-27 T12:47:57.825 GMT-04:00,2021-04-27 12:47:57.825000+04:00,2021
43520,2021-04-27 T12:50:31.169 GMT-04:00,2021-04-27 12:50:31.169000+04:00,2021
43521,2021-04-27 T11:48:00.622 GMT-04:00,2021-04-27 11:48:00.622000+04:00,2021

In [92]:
df["dateTIME"][1].year

2021